@import url(http://fonts.googleapis.com/css?family=Lato:300);

* {
	margin:0;
	padding:0;
}

html {
	font:16pt Georgia;
}

body {
	background-color:#ddd;
}

section {
	margin:1em auto;
	padding:1em;
	width:400px;
	background-color:white;
	text-align:center;
}

#progress {
	margin-top:0.5em;
	display:block;
	position:relative;
	height:0.2em;
	background-color:black;
}

#bar {
	display:block;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:0;
	background-color:hsl(0,80%,60%);
}

#percentage {
	color:#888;
	font-size:0.8rem;
}

#time {
	border:8px solid black;
	text-align:right;
	color:#888;
}

.number {
	margin:.5rem;
	font-family:Lato;
	font-size:3em;
	font-weight:300;
	text-align:center;
	color:black;
}